<div class="no-scroll-container">

  <div id="PortListContainer" #portListContainer>
    <ba-card title="3PL Forecast" baCardClass="with-scroll port-list-panel">
      <ul id="grouplist" class="listPW list-group">
        <li class="li-tr li-hr">
          <div class="li-th li-sm th-portCodeOrig">Orig</div>
          <div class="li-th li-dest th-whseCode">Dest</div>
          <div class="li-th li-sm th-shipments">Ship</div>
          <div class="li-th li-sm th-pos">POs</div>
          <div class="li-th li-ctns th-poCtnsOpn">Ctns</div>
        </li>
        <div class="list-scroller">
          <li *ngFor="let PW of chartDataFilter; let even = even; let odd = odd" 
            class="li-dr" 
            [ngClass]="{'active': selectedItem == PW, 'li-odd': odd, 'li-even': even}"
            (click)="listClick($event, PW)">
            <div class="custom-list-slideout">
              <div class="li-tr">
                <div class="li-td li-sm td-portCodeOrig">{{PW.portCodeOrig}}</div>
                <div class="li-td li-dest td-whseCode">{{PW.whseCode}}</div>
                <div class="li-td li-sm td-shipments">{{PW.shipments}}</div>
                <div class="li-td li-sm td-pos">{{PW.pos}}</div>
                <div class="li-td li-ctns td-poCtnsOpn">{{PW.ctns | number : '1.0-0'}}</div>
              </div>
              <div class="li-slideout" [ngClass]="{'li-slideout-open': selectedItem == PW}" [ngStyle]="{'height': PW.slideoutHeight}">
                <div *ngFor="let PV of PW.portVendors; let even = even; let odd = odd" title="{{PV.toolTip}}" [ngClass]="{'liv-odd': odd, 'liv-even': even, 'shipment':PV.type === 'S', 'po':PV.type === 'P'}"
                  (mouseover)="vlMouseOver(PV)" (mouseout)="vlMouseOut(PV)">
                  <div *ngIf="PV.vendCode" class="li-vendor li-vendor-{{PW.portCodeOrig}}-{{PW.whseCode}}-{{PV.vendCode}}">
                    <div class="legend-key li-vendor-key" [ngStyle]="{'background-color': PV.keyColor}"></div>
                    <div class="li-vendor-code ">{{PV.vendCode}}</div>
                  </div>
                  <div *ngIf="PV.vessel" class="li-vessel li-vessel-{{PW.portCodeOrig}}-{{PW.whseCode}}-{{PV.vesselClass}}">
                    <div class="legend-key" [ngStyle]="{'background-color': PV.keyColor}"></div>
                    <div class="li-vessel-name">{{PV.vessel}}</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </ba-card>
  </div>

  <div id="ChartContainer" #chartContainer>
    <ba-card baCardClass="ports-chart">
      <div id="chart"></div>
      <div class="d3-menu">
        <div class="d3-menu-btn" (click)="download_png()" title="Export to PNG"><i class="material-icons">photo_camera</i></div>
        <div class="d3-menu-btn" (click)="reset()" title="Reset Zoom"><i class="material-icons">find_replace</i></div>
        <div class="d3-menu-btn" *ngIf="showGridLines" (click)="toggleGridLines()" title="Toggle Grid Lines"><i class="material-icons">grid_off</i></div>
        <div class="d3-menu-btn" *ngIf="!showGridLines" (click)="toggleGridLines()" title="Toggle Grid Lines"><i class="material-icons">grid_on</i></div>
      </div>
    </ba-card>
  </div>

</div>