@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';

:host /deep/ {

    .page-top {
      height: 75px;
    z-index: 100;
    width: 100%;
    position: fixed;      
      background-color: #757575;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); 
      .dropdown-toggle::after {
        display: none;
      }      
      .topbar-left {
        box-sizing: border-box;
        padding: 20px;
        height: 75px;
        width: 250px;
        background-color: #424242;
        float: left;
        -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3); 
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-logo-container{
          width: 221px;
          height: 56px;               
          background-color: #424242;
        display: flex;
        justify-content: center;
        align-items: center;          
        }
        .logo{
          display: inline-block;
          vertical-align: middle;
          width: 211px;
          height: 46px;     
          background-size: contain;
        }        
      }
      .topbar-right {
        padding: 15px;
        position: relative; 
      }
      .topbar-right #menu-button {
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        height: 36px;
        margin-right: 10px;
        position: relative;
        left: -16px;
        top: 3px;
        background-color: #ef7b38;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); }
      .topbar-right #menu-button:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
      .topbar-right #menu-button i {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 1.5em;
        /* Preferred icon size */
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        text-indent: 0;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
        font-feature-settings: 'liga';
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-size: 36px; }
        .topbar-right #menu-button i:before {
          content: "chevron_left"; }  


    }

/*  .page-top {
    background-color: $sidebar;
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    height: 66px;
    width: 100%;
    min-width: $resMin;
    padding: 0 32px 0 40px;

    .dropdown-toggle::after {
      display: none;
    }
  }*/

  .blur {
    .page-top.scrolled {
      background-color: rgba(black, 0.85)
    }
  }

  a.al-logo {
    color: $sidebar-text;
    display: block;
    font-size: 24px;
    font-family: $font-family;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 60px;

    span {
      color: $primary;
    }
  }

  a.al-logo:hover {
    color: $primary;
  }

  .user-profile {
    float: right;
    min-width: 230px;
    margin-top: 10px;
  }

  .al-user-profile {
    float: right;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
    ul.profile-dropdown:after {
      bottom: 100%;
      right: 0;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-right: 28px;
    }
    a {
      display: block;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  a.refresh-data {
    color: $sidebar-text;
    font-size: 13px;
    text-decoration: none;
    font-weight: $font-normal;
    float: right;
    margin-top: 13px;
    margin-right: 26px;

    &:hover {
      color: $warning !important;
    }
  }

  a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
    color: $sidebar-text;
    padding: 0;
    float: left;
    margin: 11px 0 0 25px;

    &:hover {
      text-decoration: none;
      color: $warning;
    }
  }

  .al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;

    .tpl-skin-panel {
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;
    @include bg('theme/palette.png');
    background-size: cover;
  }

  .search {
    text-shadow: none;
    font-size: 13px;
    line-height: 25px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 162px;
    float: right;
    margin: 10px 0 0 30px;

    label {
      cursor: pointer;
    }
    i {
      width: 16px;
      display: inline-block;
      cursor: pointer;
      padding-left: 1px;
      font-size: 16px;
      color: #ffffff;
      margin-right: 13px;
    }
    input {
font-size: 16px;
    background-color: transparent;
    border-width: 0 0 1px 0;
    padding: 2px 2px 1px 2px;
    border-color: #ffffff;
    color: #ffffff;
      outline: none;
      width: 120px;
      margin: 0 0 0 -3px;
      height: 27px;
    }
  }

  @media screen and (max-width: $resS) {
    .search {
      display: none;
    }
  }

  @media screen and (max-width: $resXS) {
    .page-top {
      padding: 0 20px;
    }
  }

  @media (max-width: $resXXS) {
    .user-profile {
      min-width: 136px;
    }
    a.refresh-data {
      margin-right: 10px;
    }
    a.collapse-menu-link {
      margin-left: 10px;
    }

    .al-skin-dropdown {
      display: none;
    }
  }

  .profile-toggle-link {
    cursor: pointer;
  }
}



.topbar-logout{
    float: right;
    font-size: 2em;
    cursor:pointer;
}
.topbar-logout i{
  font-size: 1.5em;;
  color:#fff;
}