<div class="no-scroll-container">

  <div id="PortListContainer" #portListContainer>
    <ba-card title="Ports" baCardClass="with-scroll port-list-panel">
      <ul id="grouplist" class="listPW list-group">
        <li class="li-tr li-hr">
          <div class="li-th th-portCodeOrig">Orig</div>
          <div class="li-th th-whseCode">Dest</div>
          <div class="li-th th-pos">POs</div>
          <div class="li-th th-poCtnsOpn">Ctns</div>
        </li>
        <div class="list-scroller">
          <li *ngFor="let PW of chartDataFilter; let even = even; let odd = odd" class="li-dr" [ngClass]="{'active': selectedItem == PW, 'li-odd': odd, 'li-even': even}"
            (click)="listClick($event, PW)">
            <div class="custom-list-slideout">
              <div class="li-tr">
                <div class="li-td td-portCodeOrig">{{PW.portCodeOrig}}</div>
                <div class="li-td td-whseCode">{{PW.whseCode}}</div>
                <div class="li-td td-pos">{{PW.pos}}</div>
                <div class="li-td td-poCtnsOpn">{{PW.poCtnsOpn | number : '1.0-0'}}</div>
              </div>
              <div class="li-slideout" [ngClass]="{'li-slideout-open': selectedItem == PW}" [ngStyle]="{'height': PW.slideoutHeight}">
                <div *ngFor="let PV of PW.portVendors; let even = even; let odd = odd" class="li-vendor li-vendor-{{PW.portCodeOrig}}-{{PW.whseCode}}-{{PV.vendCode}}"
                  title="{{PV.toolTip}}" [ngClass]="{'liv-odd': odd, 'liv-even': even}" (mouseover)="vlMouseOver(PV)" (mouseout)="vlMouseOut(PV)">
                  <div class="li-vendor-key" [ngStyle]="{'background-color': PV.keyColor}"></div>
                  <div class="li-vendor-code">{{PV.vendCode}}</div>
                  <!--<div class="li-vendor-ctns">{{PV.poCtnsOpn}}</div>-->
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </ba-card>
  </div>

  <div id="ChartContainer" #chartContainer>
    <ba-card baCardClass="ports-chart">
      <div id="chart"></div>
      <div class="d3-menu">
        <div class="d3-menu-btn" (click)="download_png()" title="Export to PNG"><i class="material-icons">photo_camera</i></div>
        <div class="d3-menu-btn" (click)="reset()" title="Reset Zoom"><i class="material-icons">find_replace</i></div>
        <div class="d3-menu-btn" *ngIf="showGridLines" (click)="toggleGridLines()" title="Toggle Grid Lines"><i class="material-icons">grid_off</i></div>
        <div class="d3-menu-btn" *ngIf="!showGridLines" (click)="toggleGridLines()" title="Toggle Grid Lines"><i class="material-icons">grid_on</i></div>
      </div>
    </ba-card>
  </div>


</div>


<!--
<div #portListContainer *ngIf="PWs" class="col-sm-3 col-12">
  <ba-card title="Ports" baCardClass="with-scroll port-list-panel">
    <ul id="grouplist" class="listPW list-group">
      <li class="li-tr li-hr">
        <div class="li-th pl-20 th-portCodeOrig">Orig</div>
        <div class="li-th th-whseCode">Dest</div>
        <div class="li-th th-pos">POs</div>
        <div class="li-th pr-20 th-poCtnsOpn">Ctns</div>
      </li>
      <div class="list-scroller">

        <li *ngFor="let PW of PWs; let even = even; let odd = odd" class="li-tr li-dr" [ngClass]="{'active': selectedItem == PW, 'li-odd': odd, 'li-even': even}"
          (click)="listClick($event, PW)">
          <div class="custom-list-slideout">
            <div>
              <div class="li-td pl-20 td-portCodeOrig">{{PW.portCodeOrig}}</div>
              <div class="li-td td-whseCode">{{PW.whseCode}}</div>
              <div class="li-td td-pos">{{PW.pos}}</div>
              <div class="li-td pr-20 td-poCtnsOpn">{{PW.poCtnsOpn | number : '1.0-0'}}</div>
            </div>
            <div class="li-slideout" [ngClass]="{'li-slideout-open': selectedItem == PW}" [ngStyle]="{'height': PW.slideoutHeight}">
              <div *ngFor="let PV of PW.portVendors; let even = even; let odd = odd" class="li-vendor li-vendor-{{PV.vendCode}}" title="{{PV.toolTip}}"
                [ngClass]="{'liv-odd': odd, 'liv-even': even}" (mouseover)="vlMouseOver(PV)" (mouseout)="vlMouseOut(PV)">
                <div class="li-vendor-key" [ngStyle]="{'background-color': PV.keyColor}"></div>
                <div class="li-vendor-code">{{PV.vendCode}}</div>
                <div class="li-vendor-ctns">{{PV.poCtnsOpn}}</div>
              </div>
            </div>
          </div>
        </li>

      </div>

    </ul>
  </ba-card>
</div>

<div #chartContainer class="col-sm-9 col-12">
  <ba-card baCardClass="ports-chart">
    <div class="mytt">tooltip</div>
    <div id="chart"></div>
  </ba-card>
</div>-->